body, h1, h2, h3, h4, h5, h6 { font-family: Arial, 微软正黑体, "Microsoft JhengHei", sans-serif; }

.wy-nav-content { max-width: 100%; }

.rst-content blockquote { border-left: 2px solid #2980B9; background: #f6f6f6; padding: 10px 20px; margin-left: 0; }
.rst-content blockquote p { margin-bottom: 0; }

code{ border-radius: 2px;}
pre code { font-size: 14px; line-height: 1.5; }
.hljs-comment{ font-style: normal;}